* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Helvetica, sans-serif;
  color: black;
  font-size: 14px;
}

body {
  min-width: 500px;
  margin: auto;
  background-color: #f3f7f8;
}

header, footer{
  text-align: center;
  min-width: 500px;
  height: 50px;
  padding: 15px 0 30px 0;
  background-color: #e8b6ff;
  color: #ffffff;
}

.navLogo {
  font-size: 2.9rem;
  font-weight: 700;
  padding: 10px;
  font-family: trilby, serif;
  font-weight: 900;
  font-style: normal;
}

footer p {
  font-size: .8rem;
}

img {
  width: 100%;
  height: 550px;
  object-fit: cover;
  object-position: 50% 30%;
}

.doro {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
}

main {
  display: grid;
  grid-template-columns: repeat(2, 500px);
  grid-auto-rows: 650px;
  gap: 2rem;
  justify-content: center;
  padding: 5rem;
}

.desc {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #eee;
  padding: 1rem;
  overflow: hidden;
}